{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}

    {% for oneFilm in film %}
        <article>
            <h4>{{ oneFilm.title }}</h4>
            <p>{{ oneFilm.resume }}</p>
            <ul>
                <li>{{ oneFilm.realisateur }}</li>
                <li>{{ oneFilm.production }}</li>
            </ul>
        </article>

    {% endfor %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% endblock %}
